<document>
    <formTemplate theme="light">
        <background>
            <img src="{{asset_url 'img/backgrounds/playful.png'}}" width="1920" height="1080"/>
        </background>
        <banner>
            <img src="{{asset_url 'img/iprima.png'}}" width="200" />
            <description>Pojmenujte vaše zařízení</description>
        </banner>
        <textField keyboardType="text">Název zařízení</textField>
        <footer>
            <button id="next">
                <text>Pokračovat</text>
            </button>
            <button id="back" class="footerButton">
                <text>Zpět</text>
            </button>
        </footer>
    </formTemplate>
</document>