.appLogo {
    width:290; 
    height:60;
    tv-align: center;
}

@media tv-template and (tv-theme:dark) {
    .appLogo {
        tv-tint-color: #fff;
    }
 }

.scrollTextOnHighlight {
    tv-text-highlight-style: marquee-on-highlight;
}
.showAndScrollTextOnHighlight {
    tv-text-highlight-style: marquee-and-show-on-highlight;
}
.tile16x9 {
    width: 340;
    height: 192;
}
.tile16x9full {
    width: 510;
    height: 288;
}
.tile218 {
    width: 480;
    height: 220;
}
.tile21x9 {
    width: 320;
    height: 135;
}
.tile85x100 {
    width: 340;
    height: 400;
}

.tile_compact {
    width: 250;
    height: 376;
}
.tile_large {
    width: 334;
    height: 501;
}

.darkBackgroundColor {
    background-color: rgba(7, 20, 35, 0.8);
}
.black {
    background-color: rgb(0, 0, 0);
}

.darkImage {
    tv-tint-color: linear-gradient(top, 0.2, transparent, 0.5, rgba(0, 0, 0, 0.4), 1.00, rgba(0, 0, 0, 0.9));
}

.kids {
    background-color: rgba(255,255,255, 0.95)
}

.footerButton {
    margin: 0 0 20 0;
}
@media tv-template and (tv-theme:light) {
    .foo {
        background-color: rgb(0, 0, 0);
        color: white;
    }
}

@media tv-template and (tv-theme:dark) {
    .foo {
        background-color: rgb(255, 255, 255);
        color: white;
    }
}
.foo {
    background-color: rgb(255, 255, 255);
    color: black;
}
/*
@media -tv-template and (-tv-uber) {
tv-tint-color: linear-gradient(top, 0.20, transparent, 0.55, rgba(0,0,0,0.35), 1.00, rgba(0,0,0,0.5));
background-color: #091a2a;
background-color: rgba(10, 31, 65, 0.8);
background-color: rgba(9, 26, 42, 0.7);
background-color: rgba(33, 34, 37, 0.8);
    background-color: rgba(9, 26, 42, 0.5);
    .darkBackgroundColor {
        background-color: rgba(4, 27, 97, 0.5);
    }
} */