{{#each result}}
    <lockup data-href-page="show-page" data-href-page-options="{{toJSON this }}">
        <img class="tile16x9" src="{{splash169 images.splash169}}"/>
        <title>{{localTitle}}</title>
    </lockup>
{{/each}}