<document>
<searchTemplate>
   <searchField id="searchField" />
   {{#if result}}
   {{#each result}}
   <shelf>
        <header>
        <title>Výsledky</title>
        </header>
        <section>
            <lockup>
                <img />
                <title>{{localTitle}}</title>
            </lockup>
        </section>
    </shelf>
    {{/each}}
    {{/if}}
</searchTemplate>
</document>