<document>
    <searchTemplate>
        <searchField id="searchField" />
        <shelf>
            <header>
                <title id="test">Výsledky</title>
            </header>
            <section id="replace">
            </section>
        </shelf>
    </searchTemplate>
</document>